
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.main{
    height: 80vh;
    background-image: url(assets/images/bg.jpg);
    background-size: max(1200px,100vw);
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.main .box{
    height: 80vh;
    width: 100vw;
    opacity: 0.69;
    background-color:black;
    position: absolute;
    top: 0%;
}
nav{
    max-width: 80vw;
    height: 53px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 140px;
    position: relative;
    z-index: 1;
}
nav div button{
    position: relative;
    z-index: 1;
}

.hero{
    font-family: "Martel Sans", serif;
    height: calc(100% - 53px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    z-index: 1;
    padding: 0px 23px 0px 23px;
}

.hero> :first-child{
    font-weight: 800;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2)
{
    text-align: center;
    font-weight: 700;
    font-size: 24px;
}

.hero> :nth-child(3){
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}

.sepration{
    height: 5px;
    background-color: rgb(69, 67, 67);
}

.btn{
    padding: 3px 8px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 4px;
    border: 1px solid white;
}

.red-btn{
    background-color: red;
    padding: 3px 24px;
    font-size: 20px;
    color: white;
    border-radius: 4px;
    border: none;

}
.red-sn{
    background-color: red;
    color: white;
    border: 2px solid red;

}
.main input{
    padding: 10px 40px 10px 12px;
    font-size: 16px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(180, 174, 174, 0.5);
}
.main input:hover{
    border: 1px solid white;
}
.E-ID{
    display: flex;
    gap: 5px;
}